.Home {
  text-align: center;
  color: #004c4c;
}

.search-form {
  margin: 2% auto;
}

.search-bar {
  text-indent: 10px;
  width: 250px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid #006666;
  background-color: #b2d8d8;
}

.search-button {
  width: 80px;
  height: 30px;
  border: 2px solid #004c4c;
  background-color: #006666;
  color: #b2d8d8;
  font-weight: bold;
}
